
.arrow_main_wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  transition: all 0.5s
}

.arrow_main_wrapper:hover {
  opacity: 0.5;
}



