.left_content_wrapper {
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.left_panel_content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}


@media screen and (max-width: 600px) {
    .left_content_wrapper {
        height: 740px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    
    }
}