* {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button:hover {
  opacity: 0.5;
}

:focus,
.focus-visible:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}


